* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light-color: #f4f4f4;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$green-baseline: rgba(12, 184, 182, 1);
$green-hover: rgba(7, 112, 111, 1);
$green-overlay: rgba(12, 184, 182, 1);
$grey-background: rgba(231, 231, 231, 1);
$green-box1: rgba(18, 197, 195, 1);
$green-box2: rgba(12, 184, 182, 1);
$green-box3: rgba(9, 171, 169, 1);
$green-box4: rgba(2, 157, 155, 1);
$green-box5: rgb(2, 133, 130);
$blue-btn: rgba(52, 76, 112, 1);

$blue-background-1: #3156A3;
$blue-background-2: #0384CE;
$blue-background-3: #42B3E5;


// scss-docs-start color-variables
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$teal-100: rgba($color: $teal, $alpha: 0.1) !default;
$teal-200: rgba($color: $teal, $alpha: 0.2) !default;
$teal-300: rgba($color: $teal, $alpha: 0.3) !default;
$teal-400: rgba($color: $teal, $alpha: 0.4) !default;
$teal-500: rgba($color: $teal, $alpha: 0.5) !default;
$teal-600: rgba($color: $teal, $alpha: 0.6) !default;
$teal-700: rgba($color: $teal, $alpha: 0.7) !default;
$teal-800: rgba($color: $teal, $alpha: 0.8) !default;
$teal-900: rgba($color: $teal, $alpha: 0.9) !default;

$cyan-100: rgba($color: $cyan, $alpha: 0.1) !default;
$cyan-200: rgba($color: $cyan, $alpha: 0.2) !default;
$cyan-300: rgba($color: $cyan, $alpha: 0.3) !default;
$cyan-400: rgba($color: $cyan, $alpha: 0.4) !default;
$cyan-500: rgba($color: $cyan, $alpha: 0.5) !default;
$cyan-600: rgba($color: $cyan, $alpha: 0.6) !default;
$cyan-700: rgba($color: $cyan, $alpha: 0.7) !default;
$cyan-800: rgba($color: $cyan, $alpha: 0.8) !default;
$cyan-900: rgba($color: $cyan, $alpha: 0.9) !default;

$green-100: rgba($color: $green, $alpha: 0.1) !default;
$green-200: rgba($color: $green, $alpha: 0.2) !default;
$green-300: rgba($color: $green, $alpha: 0.3) !default;
$green-400: rgba($color: $green, $alpha: 0.4) !default;
$green-500: rgba($color: $green, $alpha: 0.5) !default;
$green-600: rgba($color: $green, $alpha: 0.6) !default;
$green-700: rgba($color: $green, $alpha: 0.7) !default;
$green-800: rgba($color: $green, $alpha: 0.8) !default;
$green-900: rgba($color: $green, $alpha: 0.9) !default;

// UTILIDADES


html{
  scroll-behavior: smooth !important;
  transition-duration: 500ms
}

p {
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 300 !important;
}

li {
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 300 !important;
}

a{
  text-decoration: none !important;
  color: #FFF !important;
}

// BUTTONS

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  border-radius: 0 !important;
}

.btn-outline-white {
  color: #fff !important;
  border: 1px solid #fff !important;
}

.btn-outline-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.btn-outline-green {
  color: $green-baseline !important;
  border: 1px solid $green-baseline !important;
}

.btn-outline-green:hover {
  color: #fff !important;
  background-color: $green-baseline !important;
}

.btn-outline-blue {
  color: $blue-btn !important;
  border: 1px solid $blue-btn !important;
}

.btn-outline-blue:hover {
  color: #fff !important;
  background-color: $blue-btn !important;
}

.btn-solid-green {
  color: #fff !important;
  background-color: $green-baseline !important;
}

.btn-solid-green:hover {
  background-color: $green-hover !important;
}

.btn-solid-blue {
  color: #fff !important;
  background-color: $blue-btn !important;
}

.btn-solid-blue:hover {
  color: $blue-btn !important;
  background: none !important;
  border: 1px solid $blue-btn !important;
}


//LINES

.line-green {
  width: 100px;
  border-bottom: 2px solid $green-baseline;
  margin: 0 auto;
}

.line-grey {
  width: 100%;
  border-bottom: 1px solid $grey-background;
  margin: 0 auto;
}


//ICONS
.icon-background-grey{
  background-color: #f4f4f4;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
 
.icon-color-blue{
  color: $blue-btn;
}

// HEAD NAVBAR
.head-navbar {
  height: 80px;
  border-bottom: 1px solid $grey-background;
}

.mainLogo {
  height: 50px;
}

.head-navbar .icon-cell {
  font-variation-settings:
    'FILL'0,
    'wght'200,
    'GRAD'0,
    'opsz'48
}

.head-navbar .icon-cell {
  font-size: 48px !important;
}

.head-navbar .icon-cell {
  color: $green-hover;
}

.head-navbar h4,
.head-navbar h5,
.head-navbar h6 {
  color: $green-hover;
  margin: 0 !important;
}


// NAVBAR

#menu-desktop {
  height: 50px;
  font-weight: 400;
  font-size: 1.1rem;
}

.navbar-inner-container {
  height: 90% !important;
}

.nav-link {
  text-decoration: none;
  color: #000 !important;
}

.nav-link:hover {
  // color: $green-baseline !important;
  border-bottom: 2px solid $green-baseline;
}

.nav-item{
  color: black;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem;
}


// CAROUSEL
.carousel {}

.slide1 {
  background-image: url("../images/Flyer_Cardio_web_3_16_9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.carousel-content h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #344C70;
}

.carousel-content h3 {
  color: black;
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 400;
  color: #1D8595;
}

.icon-slide1 {
  color: #344C70;
}

.carousel-content {
  background-color: var($green-500) !important;
}

.carousel-content .btn-area .btn-outline-primary {
  border: 1px solid #344C70;
  color: #344C70;
}

.carousel-content .btn-area .btn-outline-primary:hover {
  background-color: #344C70;
  color: #f4f4f4;
}

// ESPECIALIDADES

.especialidades-content {
  margin: 0.5rem !important;
}


.container-header h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  margin-bottom: 1rem;
}


.especialidadesCard {
  padding: 2rem !important;
  color: #fff;
}

.especialidades-content .card1 {
  background-color: $green-box1;
}

.especialidades-content .card2 {
  background-color: $green-box2;
}

.especialidades-content .card3 {
  background-color: $green-box3;
}

.especialidades-content .card4 {
  background-color: $green-box4;
}

.especialidades-content .card5 {
  background-color: $green-box5;
}




/* ABOUT US */

#about-us-label-horizontal {
  display: none !important;
}

#about-us-label-vertical {
  display: flex !important;
}

.aboutus-container {
  background-image: url("../images/sabra_office_1080_blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 600px;
}


.aboutus-inner-container {
  height: 550px;
  background-color: rgba(231, 231, 231, 0.9);
  color: var(--gray-300);
  padding: 1rem;
}

.aboutus-content h2 {
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 400 !important;
}

.aboutus-content p {
  font-size: 1.2rem !important;
  line-height: 2rem !important;
  font-weight: 300 !important;
}



// PRESTADORES


.prestadores-content img:hover {
  transform: scale(0.97);
}

.prestadores-content {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.prestadores-content img {
  margin: 10px;
  height: 40px;
}


// CONTACT


.contact-container {
  position: relative;
  height: 450px;
}

.contact-container-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

}

.contact-container-iframe iframe {
  width: 100%;
}


.innerContainer {
  position: absolute;
  top: 0;
  width: 100%;
  
}

.contact-info-container {
  width: 100%;
  height: 450px;
  padding: 0 !important;
  max-width: 1320px;
  overflow: hidden;
}


.contact-info {
  background-color: $green-baseline;
  margin: 0rem;
  color: #fff;
  width: 350px !important;
  position: relative;
  transition-duration: 0.5s;
  position: relative;
  z-index: 11;
}

.contact-info-controller {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: $orange;
  left: 0;
  bottom: 110px;
  z-index: 3;
  transition-duration: 0.5s;
}

.contact-info-controller-container {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  bottom: 110px;
  z-index: 4;
  transition-duration: 0.5s;
}

.contact-info-show {
  width: 40px;
  height: 40px;
  opacity: 0;
}

.contact-info-show:hover {
  cursor: pointer;
}

.contact-info h6 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.contact-info p {
  color: $gray-100;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contact-form {
  width: 45%;
  border-radius: 5px;
}

.contact-form .form {
  display: flex;
  flex-direction: column;
}

.contact-form h3 {
  color: $gray-100;
  font-size: 2rem;
  font-weight: 600;
}


.contact-form .form-label {
  margin-bottom: 0.3rem;
  color: $gray-200;
  font-size: 1.2rem;
}

.contact-form .form-input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  color: $gray-900;
  border: none;
  border-radius: 5px;
}

.contact-form .form-message {
  border: none;
  border-radius: 5px;
  padding-left: 0.5rem;
}

.contact-form .form-input:focus {
  outline: 2px solid $gray-700;
}

.contact-form .form-message:focus {
  outline: 1px solid $gray-800;
}

.contact-form .btn {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: $teal-900;
  width: 200px;
  border-radius: 10px;
  color: $gray-200;
  font-size: 1.5rem;
}

.contact-form .btn:hover {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: $teal-700;
  color: $gray-300;

}

.contact-form .btn:active {
  transform: scale(0.97);
  border: none;
}


.footer {
  background-color: $gray-700;
}

.footer .container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer .footer-logo {
  grid-column: 1;
  color: $gray-300;
  margin-left: auto;
  padding: 1rem 0;
}

.footer .footer-logo img {
  width: 50px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 5px;
}

.footer .footer-logo h1 {
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
}

.footer .footer-social {
  justify-self: center;
}

.footer .footer-social a {
  color: $gray-300;
}

.footer .footer-social a:hover {
  color: $gray-500;
}

.footer .footer-social i {
  padding: 0 0.5rem;
}

.footer .logo {
  justify-self: center;
}

.footer .logo img {
  width: 100px;
}

.footer-name {
  background-color: $gray-800;
  color: $gray-500;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}


//---- POPUP IMAGES ------
.containerPopup {
  display: none;
}

.popup-img {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
}

// .popup-img img{
.popup-img .carousel {
  // display: block;
  // margin: 3rem auto;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid $gray-200;
  border-radius: 5px;
  object-fit: cover;
}

.carousel-control-prev .navIconPosition {
  position: absolute;
  top: 50%;
  left: -30%;
}

.carousel-control-next .navIconPosition {
  position: absolute;
  top: 50%;
  right: -30%;
}

.popup-img span {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  color: $gray-200;
  cursor: pointer;
  z-index: 100;
}


// MODAL POPUP CARDIOLOGIA

.modal-header {
  color: #fff;
  background-color: $blue-background-2;
}

.highlight-frame-container {
  border: 1px solid $blue-background-2;
  position: relative !important;
}

.highlight-frame-title {
  position: absolute !important;
  top: -30px;
  background-color: #fff;
}

.form-control{
  background-color: #f4f4f4 !important;
}

.form-label{
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 300 !important;
}


.modal-footer{
  background-color: $gray-700 !important;
}

.modal-footer-call{
  background-color: $blue-background-3;
  margin: 0 !important;
  width: 95%;
  color: #FFF;
}

.modal-footer-email{
  background-color: $blue-background-2;
  margin: 0 !important;
  width: 95%;
  color: #FFF;
}

.modal-footer-map{
background-color: $blue-background-1;
margin: 0 !important;
width: 95%;
color: #FFF;
}

.modal-footer-arrow-up{
margin: 0 !important;
width: 90%;
color: #FFF;
}






.modal-cardiologia-highlight-footer {
  margin: 0 auto;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}

.modal-cardiologia-highlight-footer h4 {
  background-color: #fff;
  border: 2px solid $green-baseline;
  border-radius: 5px;
}

.day {
  border-radius: 5px;
  background-color: $green-baseline !important;
  color: #FFF;
  padding: 0.5rem 0rem !important;
}

/* ****************************************************** */
/* MEDIA QUERIES */
/* ****************************************************** */

/* MEDIA QUERIES LG 992*/
@media(max-width: 992px) {

  .head-navbar .menu-wrap-outer-container {
    display: flex;
  }

  #menu-desktop {
    display: none !important;
  }

  #head-navbar-phone {
    display: none !important;
  }

  #head-navbar-location {
    display: none !important;
  }

  #about-us-label-horizontal {
    display: block !important;
  }

  #about-us-label-vertical {
    display: none !important;
  }

  .aboutus-inner-container {
    height: 400px;
    background-color: rgba(231, 231, 231, 0.9);
    color: var(--gray-300);
    padding: 1rem !important;
  }

  .aboutus-content p {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .aboutus-btn-area .btn-solid {
    font-size: 1rem;
  }

  .container-aboutus {
    width: 70vw;
    margin: 0 auto;
    flex-direction: column;
  }

  .container-aboutus img {
    width: 100%;
  }

  .container-aboutus .aboutus-content {
    padding: 1rem;
    font-size: 1rem;
  }

  .popup-img img {
    width: 90%;
  }

  .popup-img .carousel {
    width: 90%;
  }

  .carousel-control-prev .navIconPosition {
    position: absolute;
    top: 110%;
    left: 20%;
  }

  .carousel-control-next .navIconPosition {
    position: absolute;
    top: 110%;
    right: 20%;
  }

}

/* ****************************************************** */
/* MEDIA QUERIES MD 768*/
/* ****************************************************** */


@media(max-width: 768px) {

  .container-aboutus {
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
  }

  .container-aboutus .aboutus-content {
    text-align: center;
  }

  .contact {
    height: 100%;
  }

  .contact .contact-container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  .popup-img .carousel {
    width: 90%;
  }

  .carousel-control-prev .navIconPosition {
    position: absolute;
    top: 110%;
    left: 20%;
  }

  .carousel-control-next .navIconPosition {
    position: absolute;
    top: 110%;
    right: 20%;
  }

  //Prestadores
  .prestadores .container-prestadores img {
    height: 35px;
    margin: 1rem 1rem;
  }

  .especialidades {
    width: 80vw;
    margin: 2rem auto;
  }

  .especialidades .container-especialidades {
    width: 100%;
    margin: 0 auto;
  }

  .especialidades h3 {
    font-size: 1.3rem;
  }

  .contact .contact-container .contact-info {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .contact .contact-container .contact-info h6 {
    width: 100%;
    margin-bottom: 0;
  }

  .contact .contact-container .contact-info p {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .contact .contact-container .contact-form {
    width: 100%;
  }

  .contact .contact-container .contact-form .btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .popup-img .carousel {
    width: 70%;
  }

  .carousel-control-prev .navIconPosition {
    position: absolute;
    top: 50%;
    left: -70%;
  }

  .carousel-control-next .navIconPosition {
    position: absolute;
    top: 50%;
    right: -70%;
  }

}


/* ****************************************************** */
/* MEDIA QUERIES SM 576*/
/* ****************************************************** */


@media(max-width: 576px) {

  .contact .contact-container .contact-form .btn {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .footer .container-footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  .footer .container-footer .footer-logo {
    grid-row: 1;
    grid-column: 1 /span 3;
    margin: 0 auto;
    padding-bottom: 0;
  }


  .footer .container-footer .footer-social {
    grid-row: 2;
    grid-column: 1 /span 3;
  }

  .popup-img .carousel {
    width: 90%;
  }

  .carousel-control-prev .navIconPosition {
    position: absolute;
    top: 110%;
    left: 20%;
  }

  .carousel-control-next .navIconPosition {
    position: absolute;
    top: 110%;
    right: 20%;
  }

  .contact-info {
    // transform: translate3d(350px,0,0)
  }


}